*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #383c41;
}

.container {
    width: 500px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

form {
    width: 80%;
    margin: 40px 0;
    background-color: #fff;
    border: 1px solid #1FD6FF;
    border-radius: 10px;
    color: #202020;
}

.row {
    margin: 25px 0;
}